
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 400px;
    height: 300px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 40px;
    position: relative;
    left: 35%;
    top: 50%;
    
    

}
.container h1{
    color: blue;
    font-weight: 600;
    font-size: 50px;

}
.container h2{
    background: linear-gradient(45deg,orange,blue);
    border-radius: 10px;
}